<ul>
  <li>{{link-to 'ember.js' 'org.repo.issues' 'ember.js'}}</li>
  <li>{{link-to 'core-notes' 'org.repo.issues' 'core-notes'}}</li>
  <li>{{link-to 'guides' 'org.repo.issues' 'guides'}}</li>
  <li>{{link-to 'rfcs' 'org.repo.issues' 'rfcs'}}</li>
</ul>

{{outlet}}
