<h2>Orgs</h2>
<ul>
  <li>{{link-to 'Facebook' 'org.repos' 'Facebook'}}</li>
  <li>{{link-to 'Netflix' 'org.repos' 'Netflix'}}</li>
  <li>{{link-to 'Intercom' 'org.repos' 'Intercom'}}</li>
  <li>{{link-to 'Ember.js' 'org.repos' 'Ember.js'}}</li>
</ul>

{{outlet}}
